/* Column.css */
.column {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    background-color: #393E46; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #00ADB5; 
    margin-bottom: 1rem;
}

.task-input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.task-input-field {
    flex: 1; 
    padding: 12px; 
    border: 2px solid #00ADB5; 
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px; 
    color: #222831; 
    background-color: #FFFFFF; 
}

.task-input-field::placeholder {
    color: #B0B0B0; 
}

.task-input-field:hover,
.task-input-field:focus {
    border-color: #00ADB5; 
    box-shadow: 0 0 5px rgba(0, 173, 181, 0.5); 
}

.add-task-button {
    padding: 12px 20px; 
    margin-left: 10px; 
    border: none;
    border-radius: 5px;
    background-color: #00ADB5; 
    color: #FFFFFF; 
    cursor: pointer;
    font-weight: bold; 
    transition: background-color 0.3s, transform 0.3s;
}

.add-task-button:hover {
    background-color: #009C9B; 
    transform: translateY(-2px); 
}

.task-list {
    margin-top: 1rem;
    overflow-y: auto;
    flex-grow: 1; 
}

.task-card {
    margin-bottom: 1rem; 
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
